<html>
    <head>
        <title>Application Master</title>
        {{#section "meta"}}
        <!-- Default Meta Content, no meta section was passed -->
        {{/section}}
    </head>
    <body>
        {{content}}
        <script type="text/javascript" src="/some/example/library.js"></script>
        {{#section "script"}}{{/section}}
    </body>
</html>