<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>        
{{section "head"}}      
</head>
<body>         
    {{donut 'test' 'header'}}        
    <div class="container">
        {{section "contents"}}
    </div>
    {{donut 'test' 'footer'}}
</body>
</html>