<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="handlebars">
      <section name="settings" type="Handlebars.HandlebarsConfigurationHandler, Handlebars" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <handlebars>
    <settings engine="ClearScriptEngine">
      <include>
        <!-- You can specify files which have been included in any project,
             to keep the standard install simple I've included a bunch of 
             helpers in Handlebars.Helper project, which is a reference -->
        <add name="accounting" src="script/accounting.min.js" />
        <add name="moment" src="script/moment.min.js" />
        <add name="_" src="script/underscore.js" />
        <add src="script/underscore-string.js" /> 
        <add src="helper/each.js" />
        <add src="helper/format.date.js" />
        <add src="helper/format.money.js" />
        <add src="helper/format.number.js" />
        <add src="helper/format.string.js" />
        <add src="helper/if.js" />
        <add src="helper/inflections.js" />
        <add src="helper/nesting.js" />
        <add src="helper/pluralize.js" />
        <add src="helper/template.js" />
        <add src="helper/variable.js" /> 
        
        <!-- Scripts can be downloaded from anywhere, making it easy to use with your 
             existing build processes. 
        <add src="http://cdn.archfashion.dev/script/handlebars.helper.min.js" />-->
      </include>
    </settings>
  </handlebars>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
