<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="handlebars">
      <section name="settings" type="Handlebars.HandlebarsConfigurationHandler, Handlebars" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false"/> 
    </settings>
  </system.net>
  <handlebars>
    <settings engine="ClearScriptEngine" basePath="C:\Home\Development\handlebars-net\src\ExampleWebApi\bin\">
      <include>
        <!-- You can specify files which have been included in any project,
             to keep the standard install simple I've included a bunch of 
             helpers in Handlebars.Helper project, which is a reference -->
        <add name="accounting" src="script/accounting.min.js"/>
        <add name="moment" src="script/moment.min.js"/>
        <add name="_" src="script/underscore.js"/>
        <add src="script/underscore-string.js"/>
        <add src="helper/each.js"/>
        <add src="helper/format.date.js"/>
        <add src="helper/format.money.js"/>
        <add src="helper/format.number.js"/>
        <add src="helper/format.string.js"/>
        <add src="helper/if.js"/>
        <add src="helper/image.sizing.js"/>
        <add src="helper/inflections.js"/>
        <add src="helper/nesting.js"/>
        <add src="helper/pluralize.js"/>
        <add src="helper/template.js"/>
        <add src="helper/variable.js"/>
        
        <!-- Scripts can be downloaded from anywhere, making it easy to use with your 
             existing build processes. 
        <add src="http://cdn.archfashion.dev/script/handlebars.helper.min.js" />-->
      </include>
    </settings>
  </handlebars>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
