{{master '/shared/app.handlebars'}}

{{#section 'meta'}}
<title>{{title}}</title>
{{/section}}

{{#section 'script'}}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    if (window.location.hostname.indexOf('.dev') !== -1) {
        window.onerror = function (message, url, line) {
            try {
                var sFormattedMessage = '[' + url + ' (' + line + ')] ' + message;
                _gaq.push(['_trackEvent', 'Exceptions', window.location.pathname + window.location.hash, sFormattedMessage, null, true]);
            } catch (e) {
                console.log('Got an error tying to send an error to Google Analytics, the irony...');
            }
        };
    }
</script>
{{/section}}

<div style="display:block;width:600px;margin-top:50px;overflow:hidden;">
Here are the actual contents of the handlebars templates, 
this is just rendered out, the view engine assumes it belongs  
to the contents section.
</div>